<p>Hello TalentWand Admin,</p>
<p>bravo, we have a customer created a new order for</p>

<h2>Order details</h2>

<h2>Billing details</h2>


<h2>What needs to be done now?</h2>

<p>A relevant task has already been created from the company account on StudenTask and taskers have been notified. You can view the task here LINK.</p>

<ul>
    <li>
        If some details of the order need to be clarified, contact the customer directly and update the order. Then prepare invoice for the customer.
    </li>
    <li>
        Write an email to the customer introducing yourself and telling him that you will be responsible for the coordination of the task. Send him also the invoice.
    </li>
    <li>
        If you do not receive applicants within a few hours for the task, start promoting it in fb groups etc.
    </li>
   <li>
        If you do not receive any applicants within two days, cancel the task.
    </li>
</ul>