<p>Hallo <%- applicant.profile.firstName %>,</p>
<p>du hast eine Anfrage über TalentWand für das Inserat "<%- task.title %>" geschickt.</p>

<p>Wir haben deine Nachricht weitergeleitet, sodass die zweite Partei sich bei Interesse bei dir melden kann.</p>

<p>Wir wünschen dir viel Erfolg bei diesem und allen folgenden Inseraten!</p>

