<table style="text-align: center;">
    <tr>
        <td style="text-align: center;">
                <h1 style="color: #546e7a; font-size: 26px; font-weight: bold;">
                    Welcome <%- user.profile.firstName %>
                </h1>
                <p>We are thrilled You've joined our Talent-Community</p>
        </td>
    </tr>
    <tr>
            <td>
            <div><!--[if mso]>
            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://studentask.de/app/new-listing" style="height:40px;v-text-anchor:middle;width:250px;" arcsize="10%" stroke="f" fillcolor="#556270">
                <w:anchorlock/>
                <center>
            <![endif]-->
            <a href="https://studentask.de/app/new-listing"
            style="background-color:#556270;border-radius:4px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:250px;-webkit-text-size-adjust:none;">Post your service now</a>
            <!--[if mso]>
                </center>
            </v:roundrect>
            <![endif]-->
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <p>
                Read on to learn more about getting started on your journey as a freelamcer in TalentWand.
            </p>
         </td>
    </tr>

    <tr>
        <td>
            <h2 style="color: #546e7a; font-size: 22px; font-weight: bold;">Pricing Freedom...</h2>
            <p>
                New talents start with a variety of pricing options (per hour, per package, on request) that allow you to price your services the way you want. 
            </p>
        </td>
    </tr>

    <tr>
        <td>
            <h2 style="color: #546e7a; font-size: 22px; font-weight: bold;">Simple Steps to Offer your Talent</h2>
            <p>
                Creating Offers is quick and easy. Just think of a skill or passion you can turn into a service!
            </p>
        </td>
    </tr>
    
    <tr>
        <td>
            <h2 style="color: #546e7a; font-size: 22px; font-weight: bold;">Creating great offers and marketing them effectively is the key to success! Enhance your offer with</h2>
            <p>
                <ul style="list-style-type: none;">
                    <li>An appealing offer title</li>
                    <li>A detailed description</li>
                    <li>Social media</li>
                </ul>
            </p>
        </td>
    </tr>
    <tr>
            <td>
            <h2 style="color: #546e7a; font-size: 26px; font-weight: bold;">Ready to get started?</h2>
                <div><!--[if mso]>
                <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://studentask.de/app/new-listing" style="height:40px;v-text-anchor:middle;width:250px;" arcsize="10%" stroke="f" fillcolor="#556270">
                    <w:anchorlock/>
                    <center>
                <![endif]-->
                <a href="https://studentask.de/app/new-listing"
                style="background-color:#556270;border-radius:4px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:250px;-webkit-text-size-adjust:none;">Post your service now</a>
                <!--[if mso]>
                    </center>
                </v:roundrect>
                <![endif]-->
                </div>
        </td>
    </tr>
</table>